<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Yassine LAMBARKI - Invoice</title>
</head>

<body>
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr *ngIf="data$">
            <td class="title">
              <img src="assets/image/enset_mohammedia_0.png" style="width: 50%; max-width: 300px" />
            </td>

            <td>
              Invoice #: {{data$.id}}<br />
              Created: {{data$.billingDate | date: 'dd/MM/yyyy'}}<br />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information" *ngIf="data$">
      <td colspan="2">
        <table>
          <tr>
            <td>
              Enset Mohammedia.<br />
              Bd Hassan II,<br />
              Mohammédia, 28830
            </td>

            <td *ngIf="data$.customer">
              {{data$.customer["name"]}}<br />
              {{data$.customer["email"]}}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="heading">
      <td>Id</td>
      <td>Name</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>

    <tr class="item" *ngFor="let item of data$.productItems">
      <td>{{item.id}}</td>
      <td>{{item.product['name']}}</td>
      <td>{{item.price}}</td>
      <td>{{item.quantity}}</td>

    </tr>
  </table>
</div>
</body>
</html>
